.zi {
  width: 150px;
  color: rgb(113, 113, 98);
  margin: auto;
}
.lian {
  width: 70px;
  height: 20px;
  margin: auto;
}
.p1 {
  width: 400px;
  background: #a4bbbe;
  margin: auto;
}
.p2 {
  width: 400px;
  margin: auto;
}
